@charset "UTF-8";

/*
 Tipos de format()
 -opentype(otf)
 -truetype(ttf)
 -embedded-opentype
 -truetype-att(Apple Advanced Typography)
 -svg
*/

* {
    margin: 0;
}

@font-face {
    font-family: 'Android, sans-serif';
    src: url(fonte/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --font0: 'Arial, Helvetica, sans-serif';
    --font1: 'Bebas Neue, cursive';
    --font2: 'Android, sans-serif';
}

body {
    font-family: var(--font0);
    background-color: var(--cor1);    
}

header {
    background: linear-gradient(var(--cor2), var(--cor5));
    text-align: center;
    color: white;
    justify-content: center;
    height: 100%;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    padding: 16px;
}

nav {
    text-align: left;
    justify-content: left;
}

.botao {
    color: var(--cor0);
    text-decoration: none;
    padding: 1%;
}

main {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 16px;
}

.titulo.primario {
    font-family: var(--font2);
    color: var(--cor4);
}

.titulo.andorid {
    background: linear-gradient(to right, var(--cor1), white);
    font-family: var(--font2);
    margin: 5px;
    color: var(--cor4);
}

.pessoa.android {
    text-align: center;
}

.video {
    position: relative;
    background-color: var(--cor4);
    height: 10px;
    margin-bottom: 15px;
    padding-bottom: 40%;
}

.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3 {
    color: white;
    background-color: var(--cor3);
    border-radius: 16px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

.caixa.da.lista {
    background-color: var(--cor0);
    margin: 5px;
    border-radius: 16px;
    padding: 8px;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;
}

p {
    font-size: 16px;
    text-indent: 20px;
}

.cabecalio {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    padding-bottom: 16px;
}

span {
    color: var(--cor3);
    font-family: var(--font1);
}

.link {
    color: var(--cor3);
    text-decoration: none;
}

article{
    margin: auto;
}